management:
  endpoint:
    health:
      show-details: always
  health:
    defaults:
      enabled: true
    diskspace:
      enabled: true
    db:
      enabled: true

logging:
  level:
    uk:
      co:
        telegraph:
          switch: DEBUG

spring:
  jpa:
    open-in-view: false
  h2:
    console:
      enabled: true
  output:
    ansi:
      enabled: ALWAYS
